.home {
	.content-area {
		float: none;
		margin: 0;
		width: inherit;
	}	
	article {
	    color: #fff;
	    text-align: center;
	    padding: 0;
	    margin: 0;
	    border-left: 0;
   	}
	.entry-title {
		margin: 0;
	}
	.entry-title {
		text-transform: inherit;
		font-weight: 400;
		margin: 0px;
	}
	.entry-content {
		margin: 0;
	}
	p {
		font-weight: 100;
	}
	.site-main {
		margin: 0;
	}
}