.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em 2.5em;
}

.updated:not(.published) {
	display: none;
}

.entry-header {
}

.page-content,
.entry-content,
.entry-summary, .entry-footer {
	margin: 1.5em auto 0 auto;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}


.cat-links {
    display: block;
    font-weight:  100;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.tags-links {
    display: block;
    font-weight: 100;
}

a.post-edit-link {
    padding: 3px 15px;
    margin: 20px 0px;
    color: #fff;
}

.edit-link {
    margin: 15px 0px;
    line-height: 5;
}